.featureBox2 {
  background-color: #ffffff;
  width: 100%;
  height: 40rem;
  color: rgb(0, 0, 0);
}

.featureBox2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureBox2Container > h1 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  word-wrap: break-word;
  width: 37.25rem;
  height: 3.7rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.featureBox2Container > p {
  width: 35.25rem;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  line-height: 2rem;
  font-size: 18px;
  text-align: center;
}

.img1 {
  cursor: pointer;
  height: 24rem;
  object-fit: contain;
}

.img2 {
  cursor: pointer;
  height: 24rem;
  object-fit: cover;
}
