.footer {
  background-color: #ffffff;
  width: 100%;
  height: 4rem;
  color: rgb(0, 0, 0);
  padding: 0 10rem;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.footerTitle {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 5rem;
}

.footer__container > p {
}

.footer__container > ul {
  display: flex;
  margin-left: 16rem;
  margin-right: 6rem;
}

.footer__container > ul > li {
  margin: 0 1.12rem;
  cursor: pointer;
  list-style: none;
}
